<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<targets>
  <target xsi:type="File" name="main" fileName="\\spb99-kpdm-ns1\d$\UsersAnalytics\logs\spb99-kpdm-ns1\${shortdate}.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
</targets>

<rules>
  <logger name="*" maxlevel="Fatal" writeTo="main" />
</rules>
</nlog>